<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <appender name="Logzio" class="io.logz.logback.LogzioLogbackAppender">
        <token>${LOGZIO_TOKEN}</token>
        <logzioType>java</logzioType>
        <addHostname>true</addHostname>
        <additionalFields>service=orchestrator;environment=${ENV}</additionalFields>
    </appender>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{ISO8601} %-5level[%thread] %logger{0} %X{} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="WARN" />

    <logger name="com.ovoenergy.orchestration" level="DEBUG" />
    
    <logger name="org.apache.kafka" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    
    <root level="INFO">
        <appender-ref ref="Logzio"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>
